.num {
  border-radius: 2px;
  height: 50px;
  width: 50px;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 25px;
  background-color: grey;
  box-shadow: 3px -3px 7px rgba(0,0,0,0.6), inset 0px 50px 10px rgba(119, 66, 66, 0.6);
}

.no-gutter {
  padding-right:0 !important;
  padding-left:0 !important;
}